<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.BoardMapper">
	
	
	<select id="boardCount" resultType="int">
		SELECT 
			COUNT(*)
		FROM HBBOARD
	</select>

	<select id="boardList" resultType="com.example.domain.BoardVO">
		SELECT
		*
		FROM HBBOARD
		ORDER BY NO DESC
	</select>
	
	<select id="boardDetail" parameterType="int" resultType="com.example.domain.BoardVO">
		SELECT
		*
		FROM HBBOARD 
		WHERE
		no = #{no}
	</select>

	<insert id="boardInsert" parameterType="com.example.domain.BoardVO">
		INSERT INTO
		HBBOARD (NO, SUBJECT, CONTENT, WRITER, REGDATE)
		VALUES (HBBOARD_SEQ.nextval, #{subject}, #{content}, #{writer}, sysdate)
	</insert>
	
	<update id="boardUpdate" parameterType="com.example.domain.BoardVO">
		UPDATE HBBOARD
		SET
		SUBJECT = #{subject}
		,
		CONTENT = #{content}
		WHERE no = #{no}
	</update>
	
	<delete id="boardDelete" parameterType="int">
		DELETE FROM BOARD WHERE no = #{no}
	</delete>
</mapper>