<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.BoardMapper">
	
	<select id="boardNoList" resultType="com.example.domain.BoardVO">
		SELECT
		NO
		FROM HBBOARD
		ORDER BY NO DESC
	</select>
	
	<select id="boardCount" resultType="int">
		SELECT 
			COUNT(*)
		FROM HBBOARD
	</select>

	<select id="boardList" resultType="com.example.domain.BoardVO">
		SELECT
		*
		FROM HBBOARD
		ORDER BY NO DESC
	</select>
	
	<select id="boardDetail" parameterType="int" resultType="com.example.domain.BoardVO">
		SELECT
		*
		FROM HBBOARD 
		WHERE
		no = #{no}
	</select>

	<select id="lastNo" parameterType="int" resultType="Integer">
		SELECT 
		NO
		FROM
		(SELECT * FROM HBBOARD ORDER BY NO DESC)
		WHERE ROWNUM = 1
	</select>

	<insert id="boardInsert" parameterType="com.example.domain.BoardVO" useGeneratedKeys="true" keyProperty="idx">
		INSERT INTO
		HBBOARD (NO, SUBJECT, CONTENT, WRITER, REGDATE, COMMENTNUM)
		VALUES (HBBOARD_SEQ.nextval, #{subject}, #{content}, #{writer}, sysdate, 0)
	</insert>
	
	<insert id="fileInsert" parameterType="com.example.domain.FileVO">
		INSERT INTO
		HBFILES (FNO, NO, FILENAME, FILEORIGNAME, FILEURL)
		VALUES (HBFILES_SEQ.nextval, #{no}, #{fileName}, #{fileOrigName}, #{fileUrl})
	</insert>
	
	
	
	<update id="boardUpdate" parameterType="com.example.domain.BoardVO">
		UPDATE HBBOARD
		SET
		SUBJECT = #{subject}
		,
		CONTENT = #{content}
		WHERE no = #{no}
	</update>
	
	<update id="boardUpdateComment" parameterType="com.example.domain.BoardVO">
		UPDATE HBBOARD
		SET 
		COMMENTNUM = #{commentNum}
		WHERE no = #{no}
	</update>
	
	<delete id="boardDelete" parameterType="int">
		DELETE FROM HBBOARD WHERE no = #{no}
	</delete>
	
	
	
	
	
	<select id="fileDetail" parameterType="int" resultType="com.example.domain.FileVO">
		SELECT
		*
		FROM HBFILES
		WHERE
		NO = #{no}
	</select>
	
	
	
</mapper>